qrcode==7.4.2
pyTelegramBotAPI==4.10.0
Pillow==9.4.0
path==16.6.0
paramiko==3.1.0
yoomoney==0.1.0
pandas==2.0.1
plotly==5.14.1
numpy==1.24.3
yookassa
outline-vpn-api==3.0.0
aiohttp==3.8.3
aiosqlite==0.19.0
aiogram==2.25.1
outline-vpn-api==3.0.0
tinkoff-acquiring-api==0.1.3
walletpay==1.3.1
pydantic==2.5.3
cryptomusapi==1.0.1
flask==2.3.1
flask-httpauth==4.8.0
pyyaml==6.0
aaioasync==0.1.9
pandas
freekassa-ru==0.0.7
